{% extends 'main/layout.html' %}

{% block title %}<title>Account settings</title>{% endblock %}

{% block body %}

{% load crispy_forms_tags %} 

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">      
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome, {{user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
</nav>

<p><a href="/password_change" class="btn btn-primary">Change password</a></p>
<form method="post">
  {% csrf_token %}
  {{ user_additional_data_form|crispy }}

  {% if messages %}
  <div class="alert alert-danger" role="alert">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </div>
  {% endif %}

  <button type="submit" class="btn btn-primary">Save changes</button>
</form>

</body>
{% endblock %}