{% extends 'main/layout.html' %}

{% block title %}<title>My feedbacks</title>{% endblock %}

{% block body %}

{% load crispy_forms_tags %} 

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %} 
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome, {{user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
</nav>

<h2>List of feedbacks</h2>

<nav aria-label="Page navigation">
  <ul class="pagination pagination-lg">
    {% block pagination %}
    {% for number_of_page in pagination_for_feedbacks.paginator.get_elided_page_range %}
        {% if number_of_page == pagination_for_feedbacks.paginator.ELLIPSIS %}
          {{ number_of_page }}
        {% else %}
          {% if number_of_page == pagination_for_feedbacks.number %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">{{ number_of_page }}</a>
            </li>
          {% else %}
              <li class="page-item"><a class="page-link" href="{% url 'specific_user_feedbacks_with_pagination' number_of_page %}">{{ number_of_page }}</a></li>
          {% endif %}
        {% endif %}
    {% endfor %}
    {% endblock %}
  </ul>
</nav>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Article name</th>
        <th>Comment</th>
        <th>Publication date</th>
        <th>Decision</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% block feedback %}
        {% for feedback in pagination_for_feedbacks %}
          <tr>
            <td>{{ feedback.article.name }}</td>
            <td><a href="{% url 'update_feedback' feedback.pk %}">{{ feedback.comment }}</a></td>
            <td>{{ feedback.publication_date }}</td>
            <td>{{ feedback.decision }}</td>
            <td><a href="{% url 'delete_feedback' feedback.pk %}">Delete feedback</a></td>
          </tr>
        {% endfor %}
      {% endblock %}
    </tbody>
  </table>
</div>

</body>
{% endblock %}