{% extends 'main/layout.html' %}

{% block title %}<title>{{ current_article.name }}</title>{% endblock %}

{% block body %}

{% load crispy_forms_tags %} 

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'homepage' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %} 
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome, {{user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
</nav>

<div class="container py-5">
<h1>{{ current_article.name }}</h1>
<h4>{{ current_article.short_description }}</h4>
<br>
<h4>{{ current_article.volume.name }}</h4>
<h4>{{ current_article.category.name }}</h4>
<br>
<h4>{{ current_article.publication_date }}</h4>
<h4>Uploaded by: {{ current_article.user.last_name }} {{ current_article.user.first_name }} {{ user_middle_name }}</h4>
<h4>Authors: {{ current_article.authors }}</h4>

{% if current_article.decision == "accepted" %}
<div class="alert alert-success" role="alert">
{% endif %}
{% if current_article.decision == "rejected" %}
<div class="alert alert-danger" role="alert">
{% endif %}
{% if current_article.decision == "awaiting_decision" %}
<div class="alert alert-warning" role="alert">
{% endif %}
  <h4>{{ current_article.get_decision_display }}</h4>
</div>

<br>
<a href="{% url 'article_download' current_article.pk %}">Download article</a>
<br>
<br>

{% block feedbacks %}
{% for feedback in feedbacks_to_current_article %}
<div class="card">
  <div class="card-header">
    Feedback
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ feedback.comment }}</p>
      <p>Status: {{ feedback.decision }}</p>
      <footer class="blockquote-footer">{{ feedback.user.last_name }} {{ feedback.user.first_name }}</footer>
    </blockquote>
  </div>
</div>
<br>
{% endfor %}
{% endblock %}

</div>
</body>
{% endblock %}